link(rel="stylesheet", href="style.css")
html 
  body.TextContainer
    p.ImageContainer
      img(src="cid:MaggyHappy", alt="maggy happy !!!!!").ImageBG
    div
      p Hey bonjour !!!!,
      p #{name} viens de mettre à jour son projet qui s'appelle: #{projectName}.
      P Voici la description de son projet: 
        p #{describ}
      p tous les membres du service : #{servicName} ont été associés à ce projet !
      p vous pouvez éventuellement contacter #{name} aux coordonées suivante :
        p - #{mail}
      br
      br
      p Je vous souhaite une bonne journée !
      br
      p Cordialement,
      p Maggy. 
    br
    br
    div
      img(src="cid:logoIUT", alt="logo_iut").LogoContainer